appdirs==1.4.4
argcomplete>=1.10.0
asgiref==3.2.10
astroid==2.4.2
autopep8>=1.4.3
backcall>=0.1.0
blivet>=3.2.2
#blivet-gui==2.1.15
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.1.1
#cupshelpers>=1.0
dasbus>=0.2
dbus-python>=1.2.16
decorator>=4.4.0
distlib==0.3.1
distro>=1.4.0
Django==3.1.2
django-crispy-forms==1.9.2
django-event-system==1.0.1
filelock==3.0.12
gevent>=20.6.2
#gpg>=1.14.0
greenlet>=0.4.16
gunicorn==20.0.4
idna>=2.8
#initial-setup>=0.3.80
ipython>=7.12.0
ipython-genutils==0.1.0
isort>=5.5.2
jedi>=0.15.1
langtable==0.0.53
lazy-object-proxy==1.4.0
libcomps==0.1.15.post1
mccabe==0.6.1
mysqlclient==2.0.1
#nftables>=0.1
ntplib==0.3.4
numpy==1.19.2
ordered-set>=3.1
parso==0.7.1
pexpect>=4.7.0
pickleshare>=0.7.5
pid==3.0.4
Pillow>=7.2.0
pipenv==2020.8.13
productmd==1.28
prompt-toolkit>=2.0.10
ptyprocess==0.6.0
#pwquality>=1.4.2
py==1.9.0
pycairo==1.18.2
pycodestyle>=2.5.0
pycparser==2.20
pycups==2.0.1
pycurl==7.43.0.5
pyenchant==3.1.1
Pygments>=2.4.2
PyGObject==3.36.1
pykickstart>=3.24
pylint==2.6.0
pyparted==3.11.4
PyQt5==5.15.1
PyQt5-sip==12.8.1
PySocks==1.7.1
python-augeas>=0.5.0
python-dateutil==2.8.1
python-gettext==4.0
python-manatools>=0.0.3
python-meh>=0.48
pytz==2020.1
pyudev==0.22.0
pyxdg==0.26
PyYAML==5.3.1
qrcode==6.1
requests==2.24.0
requests-file==1.5.1
requests-ftp==0.3.1
rpm>=4.15.1
selinux>=3.0
sepolicy>=3.0
setools>=4.3.0
shiboken2==5.15.1
simplegeneric==0.8.1
simpleline==1.7
six==1.15.0
slip==0.6.4
slip.dbus==0.6.4
sos>=3.9
sqlparse==0.4.1
systemd-python>=234
toml==0.10.1
traitlets>=4.3.3
typed-ast==1.4.1
urllib3==1.25.10
virtualenv>=20.0.33
virtualenv-clone==0.5.4
wcwidth>=0.2.4
whitenoise==5.2.0
wrapt==1.12.1
zope.event>=4.4
zope.interface>=5.1.0

pip==20.2.3
wheel==0.35.1
setuptools==50.3.1
store==2020.2.10
