.btn-link,
.btn-link:hover,
.hello-msg{
    font-size: 16px;
    color:black;

}
.btn{
    border-radius: 0.1em/0.1em;

}

#content-wrapper{
    display: flex;

}

.column{
    width: 600px;
    padding: 10px;
}

#featured{
    max-width: 400;
    max-height: 400;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid black;
}

.thumbnail{
object-fit:cover;
max-width: 100px;
max-height: 100px;
cursor: pointer;
opacity: 0.5;
margin: 5px;
border: 1px solid black;
}

.thumbnail:hover{
    opacity: 1;
}

#slide-wrapper{
    max-width: 500px;
    min-height: 100px;
    display: flex;
    align-items: center;
}

#slider{
    width: 335px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}
.arrow{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
}
.arrow:hover{
    opacity: .5;
    width: 35px;
    height: 35px;
}

#img-container{
    z-index: 1;
    max-width: 500px;
    position: relative;

}
#lens{
    z-index: 2;
    height: 150px;
    width: 150px;
    /*border: 2px solid black;*/
    position: absolute;
    background-repeat: no-repeat;
    cursor: none;
}