{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="box-element">
    <a class="btn btn-dark" href="{% url 'set_profile' %}">&#8592;Atras</a>
    <br>
    <div class="col-lg-8 center-form-tit">
            <hr>
            <h6 ALIGN="center"><strong>Importante: </strong>
                Verifique que sea correcta y mantenga actualizada su informacion.</h6>
            <hr>
		<div class="col-lg-5 center-form">
            <form method="POST" action="" enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="form-field">
                    <p>Direccion:</p>
                    {{form.address}}
                </div>
                <div class="form-field">
                    <p>Ciudad:</p>
                    {{form.city}}
                </div>
                <div class="form-field">
                    <p>Provincia:</p>
                    {{form.state}}
                </div>
                <div class="form-field">
                    <p>Codigo Postal:</p>
                    {{form.zipcode}}
                </div>
                <div class="form-field">
                    <p>Pais:</p>
                    {{form.country}}
                </div>
                <hr>
                <input class="btn btn-dark" type="submit" value="Actualizar">
            </form>
        </div>
    </div>
</div>
{% endblock content %}