{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="box-element">
    <a class="btn btn-dark" href="{% url 'store' %}">&#8592;Salir</a>
    <div class="row">
        <div class="col-lg-12">
            <h4 ALIGN=center>Informacion Personal</h4>
            <hr>
            <div class="center-buttons">
                <a class="btn btn-outline-dark" href="{% url 'profile_ship' %}">Datos de Envio</a>
                <a class="btn btn-outline-dark" href="{% url 'processed_orders' %}">Pedidos</a>
                <a class="btn btn-outline-dark" href="{% url 'profile_passwd_update' %}">Actualizar Contraseña</a>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <img class="profile-picture" src="{{request.user.customer.profile_picture.url}}">
                    <br>
                    <div class="col-lg-8 center-form">
                        <strong>Nombre de Usuario:</strong> {{request.user.username}}
                        <br>
                        <strong>Miembro Desde:</strong> {{request.user.customer.date_created}}
                    </div>
                </div>
                <div class="col-lg-4 center-form-tit">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-field">
                            <p>Nombre:</p>
                            {{form.first_name}}
                        </div>
                        <div class="form-field">
                            <p>Apellido:</p>
                            {{form.last_name}}
                        </div>
                        <div class="form-field">
                            <p>Email:</p>
                            {{form.email}}
                        </div>
                        <div class="form-field">
                            {{form.profile_picture}}
                        </div>
                        <br>
                        <hr>
                        <input type="submit" value="Actualizar" class="btn btn-dark">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}