[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "~=3.2.10"
django = ">=3.1"
pytz = "==2020.1"
sqlparse = "==0.3.1"
cryptography = ">=3.0"
py = "~=1.9.0"
mysqlclient = ">=2.0.1"
numpy = "~=1.19.1"
six = "~=1.15.0"
store = ">=2020.2.10"
django-debug-toolbar = ">=3.1.1"

[requires]
python_version = "3.9"
